<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Аутентификация</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body style="display: flex; justify-content: center">
<div style="width: 35%">
    <form style="padding: 15px" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading"
            style="margin-bottom: 15px;">Пожалуйста, войдите в систему</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input style="text-align: center" type="text" id="username" th:name="username" class="form-control"
                   placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input style="text-align: center" type="password" id="password" th:name="password" class="form-control"
                   placeholder="Password" required>
        </p>
        <input name="_csrf" type="hidden" value="37a12b2b-9296-4c4c-91a8-dafbff8fefff"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
    <div style="padding-right: 15px; padding-left: 15px">
        <form th:action="@{/registration}" target="_parent">
            <button class="btn btn-lg btn-primary btn-block">Регистрация</button>
        </form>
    </div>
</div>
</body>
</html>